.menub {
  position: fixed;
  width: 100%;
  /* width: 70%;
        background: white; */
  bottom: 0px;
  /*自分が固定したい位置(例は上から0pxの位置)*/
  left: 0px;
  /*自分が固定したい位置(例は左から10pxの位置)*/
}

.menu1 {
  display: flex;
  width: 100%;
}

.menu2 {
  display: flex;
  width: 100%;
}

.t_menu {
  width: 50%;
  height: 40px;
  /* background: blue; */
}

/* ページ構成用 */

body {
  width: 95%;
  margin: 0 auto;
}

header {
  align-items: center;
  padding: 0 20px;
  background: #fac344;
}

.header1 {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  margin: 0 auto;
}

.info_title {
  position: relative;
  font-size: 26.357142857143px;
}

.announcement {
  position: relative;
  font-size: 18.45px;
}

.poster {
  width: 100%;
}

.befor_info {
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 40px;
}

p {
  font-size: 20px;
}

.text1 {
  font-size: 35px;
}

.layout {
  line-height: 20px;
}

.layout_title {
  font-size: 28px;
}

.date {
  line-height: 10px;
}

.place_text {
  /* width: 270px; */
  line-height: 10px;
}

.data {
  width: 280px;
  margin: auto;
}
